{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <form action="{{ url_for('deleteMenuItem', menu_id = menuitem.id) }}" method="post">
      Do you want to delete {{ menuitem.name }} ?
      <button type="submit" class="btn btn-danger">Delete</button>
      <a href="{{ url_for('showRestaurantMenu', restaurant_id = menuitem.restaurant_id) }}" class="btn btn-default">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
