{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <a href="{{ url_for('newRestaurant') }}">Create new restautant</a>
  </div>
</div>

<div class="row">
  {% for restaurant in restaurants %}
        <div class="col-xs-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <p>Restaurant ID : {{ restaurant.id }}</p>
            </div>
            <div class="panel-body">
              <p>Name</p>
              <h3>{{ restaurant.name }}</h3>
            </div>
            <div class="panel-footer">
              <a href="{{ url_for('showRestaurantMenu', restaurant_id = restaurant.id) }}" class="btn btn-info">View</a>
              {% if 'username' in session %}
                {% if restaurant.user_id == session.user_id %}
                  <a href="{{ url_for('editRestaurant', restaurant_id = restaurant.id) }}" class="btn btn-warning">Edit</a>
                  <a href="{{ url_for('deleteRestaurant', restaurant_id = restaurant.id) }}" class="btn btn-danger">Delete</a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
  {% endfor %}
</div>
{% endblock %}
